.app {
  padding: 5% 20%;
}

.MuiTypography-body1 {
  padding-bottom: 30px;
}

.MuiSlider-root.slider-slow,
.MuiSlider-root.slider-fast {
  padding-top: 50px;
  padding-bottom: 30px;
}

.MuiSlider-root.slider-slow {
  color: #b02a25;
}

.MuiSlider-root.slider-fast {
  color: #25b033;
}